/* TasksComponent's private CSS styles */
h5 {
  font-size: 1.2;
  margin-left: 3em;
  padding-top: 0;
  line-height: .8;
  color: rgb(29, 32, 78);
}

.tasks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.tasks li {
  display: grid;
  grid-template-columns: repeat(20, 1fr);    
  grid-gap: .3em;

  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .3em;
  padding: .1em 0;
  /* height: 1.6em; */
  border-radius: 4px;
}
  
.tasks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
  
.tasks a {
  grid-column: span 19;
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
}
  
.tasks a:hover {
  color:#607D8B;
}

.head {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);    
  grid-gap: .3em;
  background-color: silver;
  margin: .3em;
}

.list {
  grid-column: span 19/21;
}

.line {
  display: grid;
  grid-template-columns: repeat(20, 1fr);    
  grid-gap: .3em;
  padding: .3em;
  margin: 0px;
}

.name {
  grid-column: span 6;
  border-right: silver solid 1px;
  color: black;
}

.description {
  grid-column: span 8;
}

.estimate {
  grid-column: span 2;
  text-align: center;
  width: 96%;
  border-right: silver solid 1px;
  border-left: silver solid 1px;
}

.state {
  grid-column: span 4;
  text-align: center;
}
  
button {
  grid-column: span 1;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  font-size: 1.2em;
}
  
button:hover {
  background-color: #cfd8dc;
}
  
button.delete {

  background-color: gray !important;
  color: white;
}