<h2>Tasks</h2>

<!-- <span *ngIf="tasks.length > 14">222</span> -->

<div>
    <label>Task name:
      <input #taskName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(taskName.value); taskName.value=''">
      add
    </button>
</div>

<ul class="tasks">
    <li *ngFor="let task of tasks">
      <a routerLink="/detail/{{task.id}}">
        <span class="badge">{{task.id}}</span> {{task.name}}
      </a>
      <button class="delete" title="delete task"
      (click)="delete(task)">x</button>
    </li>
</ul>
